.horizontal-nav nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.horizontal-nav nav ul li {
    margin-right: 10px; /* Adjust spacing between items as needed */
}

.horizontal-nav nav ul li a {
    text-decoration: none;
    color: red;
}
